h1{
	color: #hexade;
	letter-spacing:xpx;
	text-transform: capitalize;
	width: 650px;
	text-shadow: xpx ypx zpx color;
}

p{
	width: 650px;
	font-size: 20px;
	
}


/* style14 font-size aumenta o tamanho da fonte */