

h1{
	color: #hexade;
	letter-spacing:xpx;
	text-transform: capitalize;
	width: 650px;
	text-shadow: xpx xpx color;
}

p1{
	width: 650px;
	text_align: justify;
}




/* style10 escolher a quantidade de sombra para escolher na horizontal 
depois a quantidade de sombra na vertical e depois a cor.*/
